@model IEnumerable<JobBoard.Data.EF.UserDetail>

@{
    ViewBag.Title = "User Details";
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>


<table class="table table-striped detailsShape">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeFileName)
        </th>
        @if (User.IsInRole("Manager"))
        {
            <th class="text-right">Edit Name</th>
        }
        @if (User.IsInRole("Admin"))
        {
            <th class="text-right">Edit | Delete</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="style-link">
                <a href="@Url.Action("Details", "UserDetails", new { id = item.UserId })">
                    @Html.DisplayFor(modelItem => item.ResumeFileName)
                </a>
            </td>
            @if (User.IsInRole("Manager"))
            {
                <td class="text-right">
                    <a href="@Url.Action("Edit", "UserDetails", new { id = item.UserId })">
                        <i class="icofont-edit" aria-hidden="true"></i>
                    </a>
                </td>
            }
            @if (User.IsInRole("Admin"))
            {
                <td class="text-right">
                    <a href="@Url.Action("Edit", "UserDetails", new { id = item.UserId })">
                        <i class="icofont-edit" aria-hidden="true"></i>
                    </a>

                    <a href="@Url.Action("Delete", "UserDetails", new { id = item.UserId })">
                        <i class="icofont-bin" aria-hidden="true"></i>
                    </a>
                </td>
            }
        </tr>
    }

</table>
