
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Rocket Fuel Jobs | @ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon-16x16.png" />
    <link rel="manifest" href="~/Content/img/site.webmanifest" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/old3aqc.css">
    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha - v2.3.1
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center" id="main-menu">

            @*<h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1>*@
            <!-- Uncomment below if you prefer to use an image logo -->
             <a href="@Url.Action("Index", "Home")" class="logo mr-auto"><img src="~/Content/img/Rocket-Fuel-Coffee-wide-white.png" alt="" class="img-fluid"></a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "active" })</li>
                    <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Resume", "MyResume", "UserDetails", null, new { @class = "active" })</li>
                        <li>@Html.ActionLink("Jobs", "Index", "OpenPositions", null, new { @class = "active" })</li>
                    }


                    @if (User.IsInRole("Admin"))
                    {
                        <li class="drop-down">
                            <a href="">Admin Tools</a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Applications")">Applications</a></li>
                                <li><a href="@Url.Action("Index", "ApplicationStatus")">Application Statuses</a></li>
                                <li><a href="@Url.Action("Index", "Positions")">Positions</a></li>
                                <li><a href="@Url.Action("Index", "OpenPositions")">Open Positions</a></li>
                                <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="drop-down">
                            <a href="">Manager Tools</a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Applications")">Applications</a></li>
                                <li><a href="@Url.Action("Index", "Positions")">Positions</a></li>
                                <li><a href="@Url.Action("Index", "OpenPositions")">Open Positions</a></li>
                                <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
                            </ul>
                        </li>
                    }
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li class="drop-down">
                        <a href="">My Account</a>
                        <ul class="account-login">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img src="~/Content/img/Rocket-Fuel-Coffee-Smol.png" alt="Rocket Fuel Coffee logo" />
                        <p>
                            1776 Bean Blvd. <br>
                            Kansas City, MO 64108<br>
                            United States <br><br>
                            <strong>Phone:</strong> (816) 858-5558<br>
                            <strong>Email:</strong> info@rocketfuelcoffee.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("About", "Home")">About Rocket Fuel Jobs</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Locations")">Locations</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Contact", "Home")">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Rocket Fuel Coffee</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://storefront.spencerpearson.net" target="_blank">Website</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://storefront.spencerpearson.net/Products" target="_blank">Online Store</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://storefront.spencerpearson.net/Products/Menu" target="_blank">Cafe Menu</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">

                        <h4>Our Social Networks</h4>
                        <p>
                            This site was designed and deployed for demonstration purposes only. The buttons below have been provided as examples of social links a brand might include in an application.
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Rocket Fuel Coffee</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Template designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>. &ensp; Application designed by <a href="http://spencerpearson.net" target="_blank">Spencer Pearson</a>.
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>