@model JobBoard.Data.EF.Location

@{
    ViewBag.Title = "Confirm Delete: " + Model.StoreNumber + "—" + Model.City;
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>

<div class="detailsShape">
    <div class="text-center">
        <strong>@Html.DisplayNameFor(model => model.StoreNumber):</strong> @Html.DisplayFor(model => model.StoreNumber) &ensp; | &ensp;
        <strong> @Html.DisplayNameFor(model => model.City):</strong> @Html.DisplayFor(model => model.City) &ensp; | &ensp;
        <strong>@Html.DisplayNameFor(model => model.State):</strong> @Html.DisplayFor(model => model.State)
    </div>
    <hr class="white-hr" />
    <div>
        <strong>@Html.DisplayNameFor(model => model.ManagerId):</strong> @Html.DisplayFor(model => model.UserDetail.FullName)
        
        <p>
            <br />
            WARNING: You are about to delete a Rocket Fuel Coffee location from the database. Only confirm the deletion if this location has in fact been closed!
        </p>
        <br />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DELETE" style="font-weight: bold;" class="btn btn-custom-danger" /> &ensp;
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-orange" })
        </div>
    }
</div>
