@model JobBoard.Data.EF.Location

@{
    ViewBag.Title = "Details for Store " + Model.StoreNumber + "—" + Model.City;
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>
<div class="detailsShape">
    <div class="text-center">
        <strong>@Html.DisplayNameFor(model => model.StoreNumber):</strong> @Html.DisplayFor(model => model.StoreNumber) &ensp; | &ensp;
        <strong> @Html.DisplayNameFor(model => model.City):</strong> @Html.DisplayFor(model => model.City) &ensp; | &ensp;
        <strong>@Html.DisplayNameFor(model => model.State):</strong> @Html.DisplayFor(model => model.State)
    </div>
    <hr class="white-hr" />
    <div>
        <strong>@Html.DisplayNameFor(model => model.ManagerId):</strong>
        <p>
            @Html.DisplayFor(model => model.UserDetail.FullName)
        </p>
    </div> 
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationId }, new { @class = "btn btn-orange" }) &ensp;
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>





