@model IEnumerable<JobBoard.Data.EF.Location>

@{
    ViewBag.Title = "Our Locations";
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>


<table class="table table-striped detailsShape">
    @if (User.IsInRole("Admin"))
    {
    <p class="offset-3">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>
    }
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            Hiring Manager
        </th>
        @if (User.IsInRole("Manager"))
        {
            <th class="text-right">Edit</th>
        }
        @if (User.IsInRole("Admin"))
        {
            <th class="text-right">Edit | Delete</th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="style-link">
                <a href="@Url.Action("Details", "Locations", new { id = item.LocationId })">
                    @Html.DisplayFor(modelItem => item.StoreNumber)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
            </td>
            @if (User.IsInRole("Manager"))
            {
                <td class="text-right">
                    <a href="@Url.Action("Edit", "Locations", new { id = item.LocationId })">
                        <i class="icofont-edit" aria-hidden="true"></i>
                    </a>
                </td>
            }
            @if (User.IsInRole("Admin"))
            {
                <td class="text-right">
                    <a href="@Url.Action("Edit", "Locations", new { id = item.LocationId })">
                        <i class="icofont-edit" aria-hidden="true"></i>
                    </a>

                    <a href="@Url.Action("Delete", "Locations", new { id = item.LocationId })">
                        <i class="icofont-bin" aria-hidden="true"></i>
                    </a>
                </td>
            }

        </tr>
    }

</table>
