@model JobBoard.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register Your Account";
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>

<div class="container detailsShape">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Resume")
            <div>
                <input type="file" name="ResumeFile" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div>
    </div>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
