@model JobBoard.Data.EF.Application

@{
    ViewBag.Title = "Confirm Delete: " + Model.UserDetail.FullName + "'s application";
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>

<h3 class="alert-danger text-center">@ViewBag.Message</h3>
<div class="detailsShape">
    <div class="text-center">
        <strong>@Html.DisplayNameFor(model => model.ApplicationDate):</strong> @Html.DisplayFor(model => model.ApplicationDate) &ensp; | &ensp;
        <strong> @Html.DisplayNameFor(model => model.OpenPosition.Position.Title):</strong> @Html.DisplayFor(model => model.OpenPosition.Position.Title) &ensp; | &ensp;
        <strong>@Html.DisplayNameFor(model => model.ApplicationStatus1.StatusName):</strong> @Html.DisplayFor(model => model.ApplicationStatus1.StatusName)
    </div>
    <hr class="white-hr" />
    <div>
        <strong class="resume-label">@Model.UserDetail.FullName's Resume:</strong>
        <br />
        <embed src="~/Content/resumes/@Model.UserDetail.ResumeFileName" type="application/pdf" style="width: 100%; height: 500px;" />
    </div>
    <hr class="white-hr" />

    <div>
        <strong class="resume-label">Manager notes:</strong>
    </div>
    <p>
        @Model.ManagerNotes
    </p>
    <hr class="white-hr" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (DateTime.Now >= Model.ApplicationDate.AddMonths(6) || User.IsInRole("Admin"))
        {
            <input type="submit" value="Delete" class="btn btn-custom-danger" />
        }
        &ensp;
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-orange" })
    </div>
    }
</div>
