@model JobBoard.Data.EF.Position

@{
    ViewBag.Title = "Confirm Delete: " + Model.Title;
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal detailsShape">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="DELETE" style="font-weight: bold;" class="btn btn-custom-danger" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-orange" })
            </div>
        }
    </dl>

</div>
