@model JobBoard.Data.EF.Position

@{
    ViewBag.Title = "Details for \"" + Model.Title + "\" Position";
}
<br />
<h2 class="view-title">@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal detailsShape">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PositionId }, new { @class = "btn btn-orange" }) &ensp;
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </dl>
</div>
